
@{
    ViewBag.Title = "About Us";
}

<section class="flat-row flat-iconbox">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="title-section margin_bottom_17">
                    <h2 class="title">
                        Details About Karnel Travel Guide
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->

        <div class="row">

            <div class="col-sm-12 col-md-12">
                <div class="widget widget-brand">

                    <p>
                        Founded in 2015 in Karachi, KarnelTravelGuide.com has grown from a small Pakistani start-up to one of the world’s leading digital travel companies.
                        By investing in technology that takes the friction out of travel, KarnelTravelGuide.com seamlessly connects millions of travelers to memorable experiences, a variety of transportation options, and incredible places to stay – from homes to hotels, and much more. As one of the world’s largest travel marketplaces for both established brands and entrepreneurs of all sizes, KarnelTravelGuide.com enables properties around the world to reach a global audience and grow their businesses.

                        Wherever you want to go and whatever you want to do, KarnelTravelGuide.com makes it easy and supports you with 24/7 customer support.
                    </p>
                    
                </div><!-- /.widget -->
            </div><!-- /.col-md-3 -->
            </div>

        </div><!-- /.container -->
</section><!-- /.flat-row -->

<section class="flat-row flat-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-section margin_bottom_17">
                    <h2 class="title">
                        Details About Our Facilities
                    </h2>
                </div><!-- /.title-section -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
        <div class="row">

            <div class="col-sm-4 col-md-4">
                <div class="widget widget-brand">


                    <label><strong>Transportation:</strong></label>
                    <p>
                        Our mission statement says it all "Creating the most efficient transportation network in Pakistan.
                        We continuously look for new ways that our people
                        can be used to move freight transportation forward."
                        <br /><br />
                        Check out Transportation Page:
                    </p>
                    <a href="/Home/P_V_transportation">TRANSPORTATION</a>
                </div><!-- /.widget -->
            </div><!-- /.col-md-3 -->
            <div class="col-sm-4 col-md-4">
                <div class="widget widget-brand">
                    <label><strong>Tours:</strong></label>
                    <p>
                        It’s hard to imagine a more magnificent landscape than the rugged peaks, hidden villages and wind-swept plains of Pakistan.
                        Little is known about tourism in Pakistan compared to many other countries,
                        which makes its utterly dazzling beauty all the more jaw-dropping when you first lay eyes on some of the country’s natural wonders and historic cities.
                        <br /><br />
                        Check out Tours Page:
                    </p>
                    <a href="/Home/P_V_tours">TOURS</a>
                </div><!-- /.widget -->
            </div><!-- /.col-md-3 -->

            <div class="col-sm-4 col-md-4">
                <div class="widget widget-brand">
                    <label><strong>Packages:</strong></label>
                    <p>
                        A package tour/tour package is a total tourism product as it generally includes transport from the origin place to the destination,
                        accommodation at an en route place or at the destination and other recreational or travel services.
                        These components are purchased by an individual, firm or company called the ‘tour operator‘.
                        He combines all the travel components in a package and sells them at all-inclusive prices to the clients.
                        <br /><br />
                        Check out Packages Page:
                    </p>
                    <a href="/Home/P_V_packages">PACKAGES</a>
                </div><!-- /.widget -->
            </div><!-- /.col-md-3 -->
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-12">
                <div class="widget widget-brand">
                    <label><strong>Accommodation:</strong></label>
                    <p>
                        Although hotels have been and still are the principle form of accommodation, there has been a growth and development of some other forms in various parts at the world. These can classified on the basis of its be location, type of construction, type of management, etc. and are commonly known as supplementary accommodation.
                        These may be described as the premises which offer accommodation, but not the services, of a hotel, services provided here is minimal and not comprehensive as in the case of hotel establishments.
                        <br />
                        Accommodations in Pakistan are classified into 5 types: <br />(1) Hotel, (2) Tourist Guest House,
                        (3) Tourist Village, (4) Motel and (5) Tourist Camping. Government is in charge of hotel classification of a star hotel.
                        The other types of accommodation are under control of Ministry of Trade and other Agencies.
                        <br /><br />

                    </p>

                </div><!-- /.widget -->
            </div><!-- /.col-md-3 -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->


